= render '/base.*', :stylesheet => 'abstracts' do
  %nav#home_lang_nav
    %a.flags{:href => "/en"}
      %img{:src => "/en/icon.png"}
    %a.flags{:href => "/fr"}
      %img{:src => "/fr/icon.png"}
  #main
    %h1
      - case @item[:language]
      - when :en
        Cartesian Musings
      - when :fr
        Idées aux quatre vents
    .author
      = @config[:editor]
    - sorted_articles[@item[:language]].each do |cat, by_group|
      %h2.categories= cat
      - by_group.each do |group, info|
        - if group != :unknown # i.e. there is actually a group of articles
          %h3.groups= group
          - unless info[:introduction].nil?
            %div
              :markdown
                #{info[:introduction]}
        - info[:articles].each do |a|
          %a.titles{:href => a.path}
            - if group == :unknown
              %h3= a[:title]
            - else
              %h4= a[:title]
          %div
            :markdown
              #{a[:abstract]}
        - unless group == :unknown or info[:conclusion].nil?
          %div
            :markdown
              #{info[:conclusion]}
