= render '/base.*', :stylesheet => 'abstracts' do
  %nav#home_lang_nav
    %a.flags{:href => "/en"}
      %img{:src => "/en/icon.png"}
    %a.flags{:href => "/fr"}
      %img{:src => "/fr/icon.png"}
  #main
    %h1
      - case @item[:language]
      - when :en
        Cartesian Musings
      - when :fr
        Idées aux quatre vents
    .author
      = @config[:editor]
    - abstracts[@item[:language]].each do |cat, articles|
      %h2.categories= cat
      - articles.each do |a|
        %a{:href => a.path}
          %h3= a[:title]
        %div
          :markdown
            #{content_for(a, :summary) || ''}
