- if not @item[:bibliography].nil?
    %h2= {:en => "Bibliography", :fr => "Bibliographie"}[@item[:language]]
    - @item[:bibliography].sort.each do |key, e|
        %div{:id => key, :class => "bibliography_entry"}
            %span{:class => "bibliography_key"}
                #{format_authors(e[:authors], @item[:language])}
                (#{e[:year]}).
            %span= render "/bibliography/#{e[:type]}.*", :e => e
            - if e.key?(:note)
                %div
                    (#{Kramdown::Document.new(e[:note], input:'SpanKramdown').to_html.strip})
