- if not @item[:bibliography].nil?
    %h2= {:en => "Bibliography", :fr => "Bibliographie"}[language_of(@item)]
    - @item[:bibliography].sort.each do |key, e|
        %div{:id => key, :class => "bibliography_entry"}
            [#{key}]
            #{format_authors(e[:authors], @language)}.
            #{e[:title]},
            <em>#{e[:journal]}</em>,
            #{e[:volume]}:#{e[:pages]},
            #{e[:year]}
            - if e.has_key?(:note)
                :markdown
                    &mdash; #{e[:note]}
