- if not @item[:bibliography].nil?
    %h2= {:en => "Bibliography", :fr => "Bibliographie"}[@item[:language]]
    - @item[:bibliography].sort.each do |key, e|
        %div{:id => key, :class => "bibliography_entry"}
            %span{:class => "bibliography_key"}
                #{format_authors(e[:authors], @item[:language])}
                (#{e[:year]}).
            #{e[:title]},
            - if e.key?(:journal)
                <em>#{e[:journal]}</em>,
                - if e.key?(:volume)
                    #{e[:volume]}:#{e[:pages]}
                - elsif e.key?(:eprint_archive)
                    #{e[:eprint_archive]}: #{e[:eprint_number]} [#{e[:eprint_class]}]
            - if e.key?(:publisher)
                <em>#{e[:publisher]}</em>,
                - if e.key?(:pages)
                    - if e[:pages].length == 1
                        'page #{e[:pages][0]}'
                    - else
                        pages #{e[:pages][0...-1].join(', ')}
                        and #{e[:pages][-1]}
            - if e.key?(:note)
                (#{Kramdown::Document.new(e[:note], input:'SpanKramdown').to_html.strip})
