!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Luc J. Bourhis Musings - #{@item[:title]}
    %link{:rel => "stylesheet", :href => "#{@items['/stylesheet.*'].path}"}/

    -# you don't need to keep this, but it's cool for stats!
    %meta{:name => "generator", :content => "nanoc #{Nanoc::VERSION}"}/
    #{render "/mathjax.*"}
  %body
    %div{:class => ("optional-sidebar" unless main_page?)}
      #main
        #{yield}
        -# if we are not on the main page for one of the language, then...
        - if not main_page?
          #{render "/bibliography.*"}
          #{render "/#{language}/licence.*"}
      #sidebar
        .flags
          %span
            %a{:href => "/fr/"}
              %img{:src => "/fr/icon.png"}
              %span Sommaire
          %span.right
            %a{:href => "/en/"}
              %img{:src => "/en/icon.png"}
              %span Home
        .whoami= render "/#{language}/side_header.*"
        - sidebar_tree(language).each do |key, entries|
          .topics= key
          %ul.title-list
            - entries.each do |e|
              %li.title= link_to(e[:title], e)
