!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    -# Viewport meta tag, to tell tell mobile devices that we have intentionally
    -# designed for small screens, and that the whole viewport should be used,
    -# at a starting scale of 1
    %meta{ :name => "viewport",
           :content => "width=device-width, initial-scale=1"}/
    %title Luc J. Bourhis Musings - #{@item[:title]}
    %link{:rel => "stylesheet", :href => "#{@items['/stylesheet.*'].path}"}/

    - if not google_fonts.empty?
      %link{:rel => "stylesheet",
            :href => "https://fonts.googleapis.com/css?family=#{google_fonts}"}

    -# you don't need to keep this, but it's cool for stats!
    %meta{:name => "generator", :content => "nanoc #{Nanoc::VERSION}"}/
    = render "/mathjax.*"
  %body
    %div{:class => ("optional-sidebar" unless main_page?)}
      #main
        = yield
        -# if we are not on the main page for one of the language, then...
        - if not main_page?
          = render "/bibliography.*"
          = render "/#{language}/licence.*"
      #sidebar
        .flags
          %span
            %a{:href => "/fr/"}
              %img{:src => "/fr/icon.png"}
              %span Sommaire
          %span.right
            %a{:href => "/en/"}
              %img{:src => "/en/icon.png"}
              %span Home
        .whoami= render "/#{language}/side_header.*"
        - sidebar_tree(language).each do |key, entries|
          .topics= key
          %ul.title-list
            - entries.each do |e|
              %li.title= link_to(e[:title], e)
